<div style=" margin-left: 18vw;margin-top: 5vh; width: 550px; height: 500px; border-style: solid; border-color: rgba(0, 0, 0, 0.295); border-radius: 15px; background-color: rgb(252, 234, 210);">
    <div>
        <form action="/User/CodigoPost" method="post">
            <h4 style="margin-top: 40px;  margin-bottom: 20px; text-align: center; font-size: 22pt;">
                Informe o Codigo Recebido por Email
            </h4>
            <hr>
            <br>
            <input type="hidden" name="email" value="@ViewBag.Email" />
            <label for="codigo" style="text-align: center; margin-left: 200px; margin-top: 30px; font-weight: bold; font-size: 14pt;">Codigo de 4 Digitos:</label>
            <input type="number" name="code" style="width: 500px; height: 50px; border-radius: 15px;  text-align: center; margin-left: 22px; margin-top: 50px; border: solid; border-color: rgb(224, 204, 177);">
            <br>

            <button type="submit" id="btn-criar" style="margin-top: 80px; margin-left: 100px;  width: 350px; height: 50px; border-radius: 15px; border: solid; border-color: rgb(224, 204, 177);">
                Acessar
            </button>
        </form>
    </div>
</div>