<div style=" margin-left: 18vw;margin-top: 5vh; width: 550px; height: 750px; border-style: solid; border-color: rgba(0, 0, 0, 0.295); border-radius: 15px; background-color: rgb(252, 234, 210);">
    <div>
        <form action="/Produtos/ProdutosPost" method="post">
            <h4 style="margin-top: 40px;  margin-bottom: 20px; text-align: center; font-size: 22pt;">
                Criar um Produto
            </h4>
            <hr>
            <label for="name" style="text-align: center; margin-left: 245px; margin-top: 50px; font-weight: bold; font-size: 14pt;">Nome:</label>
            <input type="text" name="name" style="width: 500px; height: 50px; border-radius: 15px; text-align: center; margin-left: 22px; margin-top: 5px; border: solid; border-color: rgb(224, 204, 177)">
            <br>
            <label for="valor" style="text-align: center; margin-left: 245px; margin-top: 50px; font-weight: bold; font-size: 14pt;">Valor</label>
            <input type="number" name="valor" style="width: 500px; height: 50px; border-radius: 15px; text-align: center; margin-left: 22px; margin-top: 5px; border: solid; border-color: rgb(224, 204, 177);">
            <br>
            <label for="qntd" style="text-align: center; margin-left: 245px; margin-top: 50px; font-weight: bold; font-size: 14pt;">Quantidade</label>
            <input type="number" name="qntd" style="width: 500px; height: 50px; border-radius: 15px; text-align: center; margin-left: 22px; margin-top: 5px; border: solid; border-color: rgb(224, 204, 177);">
            <br>

            <button type="submit" id="btn-criar" style="margin-top: 80px; margin-left: 100px;  width: 350px; height: 50px; border-radius: 15px; border: solid; border-color: rgb(224, 204, 177);">
                Adicionar
            </button>
        </form>
    </div>
</div>